/* GOOGLE FONTS | DM SANS FAMILY */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* VARIABLES */

:root {
  /* Colors  */
  --main-black: rgb(0, 0, 0);
  --light-grey: rgb(223, 223, 223);
  --pure-white: rgb(255, 255, 255);
  --elsalvador-color-1: #0047ab; /* Azul de la bandera */
  --elsalvador-color-2: #ffffff; /* Blanco */
  --elsalvador-gradient: linear-gradient(
    135deg,
    var(--elsalvador-color-1),
    var(--elsalvador-color-2),
    var(--elsalvador-color-1)
  );

  /* Fonts */

  --primary-font: "DM Sans", sans-serif;

  --heading-font-size-large: 25px;
  --heading-line-height-large: 48px;
  --heading-letter-spacing-large: 4.17px;
  --heading-font-weight: 800;

  --body-font-size: 15px;
  --body-line-height: 25px;
  --body-letter-spacing: 0;
  --body-font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--main-black);
}

li {
  color: var(--main-black);
}

h1,
h2 {
  font-weight: var(--heading-font-weight);
  font-size: var(--heading-font-size-large);
  color: var(--main-black);
}

.primary-btn {
  background-color: var(--main-black);
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.3ms ease, background-color 0.3ms ease;
}

.primary-btn span {
  color: var(--pure-white);
  transition: color 0.3ms ease;
}

.primary-btn:hover {
  transform: scale(1.1);
  background-color: var(--pure-white);
  border: 1px solid var(--main-black);
  color: var(--main-black);
}

.primary-btn span:hover {
  color: var(--main-black);
}

.hero-btn .btn-secondary {
  display: flex;
  color: var(--pure-white);
  justify-content: center;
  align-items: center;
  letter-spacing: 2.5px;
}

.arrow {
  transition: transform 0.3s ease;
}
.btn-secondary:hover .arrow,
.btn-tour-card:hover .arrow {
  transform: translateX(10px); /* Mueve la flecha hacia la derecha */
}

.highlight {
  /* clase para resaltar el texto */
  font-weight: 700;
  color: var(--elsalvador-color-1);
}

/* ======================== NAVBAR =============*/

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.logo-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 35px;
  height: 50px;
  margin-top: 5px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo h1 {
  font-size: 18px;
  font-weight: 1000;
  text-transform: uppercase;
  color: var(--main-black);
  transition: transform 0.3s ease;
}

.logo h1:hover {
  transform: scale(1.1);
  font-weight: 700;
}

.triangulo {
  width: 26px;
  height: 26px;
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  background: var(--elsalvador-gradient);
}

.menu ul {
  display: flex;
  color: var(--main-black);
  gap: 20px;
}

.menu li {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: transform 0.3s ease;
  text-transform: uppercase;
}

.menu li:hover {
  transform: scale(1.1);
  font-weight: 700;
}

/* =====================  HERO  ===================== */

.hero {
  background-image: url("./assets/img/moon-of-appalacia.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.hero-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-left: 100px;
}

.tour {
  max-width: 400px;
}
.tour h3 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2.2px;
  color: var(--pure-white);
}

.tour h1 {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 2.5px;
  color: var(--pure-white);
}

.tour p {
  font-size: 8x;
  font-weight: 400;
  color: var(--light-grey);
}

.fecha {
  font-size: 10px;
  color: var(--light-grey);
}

.nombre {
  color: var(--pure-white);
  text-transform: capitalize;
}

.hero-btn {
  color: var(--pure-white);
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* =====================  Call to action  ===================== */

.call-to-action {
  display: flex;
  height: 100vh;
}

.tour-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-right: 100px;
}

.tour-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 400px;
  padding-left: 215px;
}

.tour-txt h1 {
  font-size: 45px;
  letter-spacing: 2px;
  font-weight: 1000;
  text-align: start;
}

.tour-txt p {
  font-size: 20px;
  color: var(--main-black);
  line-height: 35px;
}

.tour-photo {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/img/create-and-share.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-tours .btn-secondary {
  display: flex;
  color: var(--main-black);
  justify-content: center;
  align-items: center;
  letter-spacing: 2.5px;
  padding-right: 148px;
  font-weight: 600;
}

/* =====================  Tours  ===================== */

.tours {
  display: grid;
  height: 70vh;
}

.tour-grid {
  width: 100vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tour-1,
.tour-2,
.tour-3,
.tour-4 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
}

.tour-1 {
  background-image: url("./assets/img/mountains.jpg");
}

.tour-2 {
  background-image: url("./assets/img/cityscapes.jpg");
}

.tour-3 {
  background-image: url("./assets/img/18-days-voyage.jpg");
}

.tour-4 {
  background-image: url("./assets/img/architecturals.jpg");
}

.tour-1:hover,
.tour-2:hover,
.tour-3:hover,
.tour-4:hover {
  transform: translateY(-20px);
}

.tours-grid-txt {
  position: relative;
  top: 60%;
  color: var(--pure-white);
}

.heading-tours {
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: 2.5px;
}

.txt-tours {
  position: relative;
  font-size: 18px;
  bottom: 27%;
}

.line {
  position: relative;
  bottom: 10px;
  height: 2px;
  width: 100%;
  background-color: var(--pure-white);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
  padding-top: 340px;
}

.card-container h1 {
  color: var(--pure-white);
  font-size: 35px;
  font-weight: 900;
}

.card-container p {
  color: var(--pure-white);
  margin-top: -30px;
}

.card-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-btn a {
  color: var(--pure-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* =====================  features  ===================== */

.features {
  display: flex;
  height: 100vh;
}

.features-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feature h1 {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 2.5px;
}

.feature p {
  font-size: 15px;
  color: var(--main-black);
  text-align: center;
  padding: 22px;
  line-height: 30px;
}

/* =====================  Footer  ===================== */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #000;
  padding: 40px;
  color: var(--pure-white);
  align-items: center;
}
.footer-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #000;
  padding: 40px;
  color: var(--pure-white);
  align-items: center;
  margin-top: 50px;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: self-start;
  align-items: center;
}
.footer-logo h1 a {
  color: var(--pure-white);
}

.footer-social {
  margin-top: 20px;
}

.footer-social a {
  color: white;
  margin-right: 15px;
  font-size: 18px;
  text-decoration: none;
}

.footer-nav {
  list-style: none;
  padding: 0;
}

.footer-nav li {
  margin-bottom: 10px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.footer-right {
  text-align: right;
}

.footer-invite {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
}

.footer-invite .arrow {
  margin-left: 5px;
  font-size: 18px;
}

.footer-copyright {
  margin-top: 10px;
  font-size: 14px;
  color: var(--pure-white);
}

.footer-space {
  margin-bottom: 15px;
}

/* PAGINA NUESTRO EQUIPO FERNANDO SOSA */
.ne-body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.ne-maintxt {
  text-align: center;
  color: #000000;
  margin-top: 30px;
}

.ne-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.ne-members {
  display: flex;
  background-color: #ffffff;
  border: 2px solid #000000;
  padding: 10px;
  align-items: center;
}

.ne-photos {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px #000;
  margin-right: 20px;
}

.ne-info {
  display: flex;
  flex-direction: column;
}

.ne-name {
  font-size: 1.5em;
  margin: 0;
}

.ne-carnet {
  font-size: 1.2em;
  color: #555;
  margin: 5px 0;
}

.ne-description {
  font-size: 1em;
  color: #333;
}